* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
main {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  width: 100%;
  height: 100%;
  
}

img {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 20px 0;
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

